<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Laptop Web App</title>
    <link href="../public/css/header.css" type="text/css" rel="stylesheet">
    <link href="../public/css/footer.css" type="text/css" rel="stylesheet">
    <link href="../public/css/portfolio.css" type="text/css" rel="stylesheet">
    <link href="../public/css/table.css" type="text/css" rel="stylesheet">
    <link href="../public/css/general.css" type="text/css" rel="stylesheet">
    <link href="../public/css/button-styles.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <div class="heading">
        
        <h1><img class="logo" src="../public/resources/image/logo.png" alt="company logo"> AWS Customer Portolio Statistics</h1>
      </div>
    </header>
    <main>
        <!-- Customer information -->
        <h2 class="no-margin">User Information</h2>
      <div class="info-container">
          <img class="user-image" src='https://via.placeholder.com/200' alt="user-image">
          <div class="user-info">
              <table>
                  <tr>
                      <th>Field</th>
                      <th>Value</th>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>San Francisco, CA</td>
                    </tr>
                    <tr>
                        <td>Occupation</td>
                        <td>Web Developer</td>
                    </tr>
                    <tr>
                        <td>Salary</td>
                        <td>$20000</td>
                    </tr>
                </table>
            </div>
      </div>
      <br/><br/>
      
      <!-- Portfolio table section -->
        <h2 class="no-margin">Portfolio List</h2>
        <div class="tab-container">
        <table id="tab-portfolio">
            <thead>
            <tr>
                <th id="tab01-assetName">Asset Name</th>
                <th id="tab01-assetType">Type</th>
                <th id="tab01-assetPurDate">Purchase Date</th>
                <th id="tab01-assetPurAmt">Purchase Amount</th>
                <th id="tab01-assetSoldDate">Sold Date</th>
                <th id="tab01-assetSoldAmt">Sold Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
            </tr>
            <tr>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
            </tr>
            <tr>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
            </tr>
            <tr>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
            </tr>
            <tr>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
            </tr>
            <tr>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
            </tr>
            <tr>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
            </tr>
            <tr>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
            </tr>
            <tr>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
                <td><input id="" value="yes"></td>
            </tr>
        </tbody>
        </table>
        </div>
        
        <br/>
        <div class="control-btn-container">
            <button id="asset-back" onclick="window.location.href = 'index.html'">back</button>
            <button id="asset-save">save</button>
        </div>


    </main>
    <footer>
      <p>&copy; 2023 AWS Portfolio Management. All rights reserved.</p>
      <br/>
      <p>SWE30010 - Team 4</p>
    </footer>
  </body>
</html>