<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Laptop Web App</title>
    <script type="application/javascript" src="/client-scripts/framework/socket.io.js"></script>
    <script type="module" src="/client-scripts/framework/jquery.min.js"></script>
    <script> const page = "portfolio" </script>
    <script type="module" src="/client-scripts/client.js"></script>
    <link href="css/header.css" type="text/css" rel="stylesheet">
    <link href="css/footer.css" type="text/css" rel="stylesheet">
    <link href="css/table.css" type="text/css" rel="stylesheet">
    <link href="css/general.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <div class="heading">
        
        <h1><img class="logo" src="resources/image/logo.png" alt="company logo"> AWS Customer List</h1>
      </div>
      <!-- <br/> -->
      <nav>
        <ul>
          <li class="avai-link on-page" onclick="window.location.href = '/' ">Portfolio</li>
          <li class="disa-link" onclick="">Risk Analytics</li>
          <li class="avai-link" onclick="window.location.href = '/cust-create' ">Add Customer</li>
          <li class="disa-link" onclick="">Others</li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- Add your main content here -->
      <h2 class="no-margin">Customer List</h2>
      <div class="tab-container">
        <table id="tab-customer">
          <thead>
            <tr>
              <th id="tab01-custName">Customer Name</th>
              <th id="tab01-custJoinDate">Customer Email</th>
              <th id="tab01-custStatus">Customer Phone No.</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody id="customers-list">
          </tbody>
        </table>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 AWS Portfolio Management. All rights reserved.</p>
      <br/>
      <p>SWE30010 - Team 4</p>
    </footer>
  </body>
</html>