<!DOCTYPE html>
<html>
    <head>
        <title> AWS Interface </title>
        <meta name="author" content="Cole P. Mangio">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/">
        <!--Style Links-->
        <link href="/css/style.css" type="text/css" rel="stylesheet">
        <!--Script Links-->
        <script src="/client-scripts/framework/socket.io.js"></script>
        <script type="module" src="/client-scripts/framework/jquery.min.js"></script>
        <script type="module" src="/client-scripts/client.js"></script>
    </head>
    <body>
        
        <h1> AWS Interface </h1>


    </body>
</html>