<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Laptop Web App</title>
    <script src="/client-scripts/framework/socket.io.js"></script>
    <script type="module" src="/client-scripts/framework/jquery.min.js"></script>
    <script> const page = 'portfolio-view' </script>
    <script type="module" src="/client-scripts/client.js"></script>
    <link href="css/header.css" type="text/css" rel="stylesheet">
    <link href="css/footer.css" type="text/css" rel="stylesheet">
    <link href="css/portfolio.css" type="text/css" rel="stylesheet">
    <link href="css/table.css" type="text/css" rel="stylesheet">
    <link href="css/general.css" type="text/css" rel="stylesheet">
    <link href="css/button-styles.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <div class="heading">
        <h1><img class="logo" src="resources/image/logo.png" alt="company logo"> AWS Customer Portolio Statistics</h1>
      </div>
      <!-- <br/> -->
      <nav>
        <ul>
            <li class="avai-link on-page" onclick="window.location.href = '/' ">Portfolio</li>
            <li class="disa-link" onclick="">Risk Analytics</li>
            <li class="avai-link" onclick="window.location.href = '/cust-create' ">Add Customer</li>
            <li class="disa-link" onclick="">Others</li>
        </ul>
      </nav>
    </header>
    <main>
        <!-- Customer information -->
        <h2 class="no-margin">User Information</h2>
      <div class="info-container">
          <img class="user-image" id="user-img" src='https://via.placeholder.com/200' alt="user-image">
          <div class="user-info">
            <table id="user-info-table">
            </table>
          </div>
      </div>
      <br/><br/>
      
      <!-- Portfolio table section -->
        <h2 class="no-margin">Portfolio List</h2>
        <div class="tab-container">
        <table id="tab-portfolio">
            <thead>
            <tr>
                <th id="tab01-assetName">Asset Name</th>
                <th id="tab01-assetType">Type</th>
                <th id="tab01-assetPurDate">Purchase Date</th>
                <th id="tab01-assetPurAmt">Purchase Amount</th>
                <th id="tab01-assetSoldDate">Sold Date</th>
                <th id="tab01-assetSoldAmt">Sold Amount</th>
            </tr>
        </thead>
        <tbody id="tab-portfolio-data">
        </tbody>
        </table>
        </div>
        
        <br/>
        <div class="ctrl-btn-container">
            <button class="ctrl-btn" style="background-color: rgb(0, 72, 7); color: white" id="asset-add" onclick="window.location.href = 'asset-create.ejs'">add asset</button>
            <button class="ctrl-btn" id="asset-back" onclick="window.location.href = 'index.ejs'">back</button>
            <button class="ctrl-btn" id="asset-save">save</button>
        </div>


    </main>
    <footer>
      <p>&copy; 2023 AWS Portfolio Management. All rights reserved.</p>
      <br/>
      <p>SWE30010 - Team 4</p>
    </footer>
  </body>
</html>