main {
    padding: 20px;
}

.tab-container {

    height: 300px;
    margin:auto;
    overflow: auto;
    border: 1px solid #ccc;
}

.tab-container table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: aliceblue;
    position: sticky;
    top: 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }